@import "tailwindcss"; 

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --secondary-foreground: 10, 10, 18;
  --border-color: 80, 80, 80;
  --text-color: 23, 23, 23; 
  --secondary-text: 80, 80, 80; 
}

[data-theme="dark"] {
  --background: 60, 60, 60;
  --foreground: 237, 237, 237;
  --secondary-foreground: 161, 161, 170;
  --border-color: 80, 80, 80;
  --text-color: 237, 237, 237; 
  --secondary-text: 161, 161, 170;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text-color));
  transition: background-color 0.5s ease, color 0.5s ease;
}

.border-custom {
  border-color: rgb(var(--border-color));
}